.vercel
.next
.env*

/node_modules
/build
/.next/

/data

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo
next-env.d.ts
node_modules
